@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply bg-white text-slate-800 dark:bg-slate-950 dark:text-slate-200;
}

@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 5rem;
}